@{
    ViewData["Title"] = "Página de Inicio";
}

@*<div class="text-center">
    <h1 class="display-1">Bienvenido al registro de usuario</h1>
    <p>Seleccione la opción usuarios para desplegarlos.</p>
</div>*@

<div class="card" style="width: 18rem;">
    <img src="https://www.clipartmax.com/png/full/284-2847307_free-man-woman-icon-png-agregar-usuario.png" class="card-img-top" alt="usuario">
    <div class="card-body">
        <h5 class="card-title">Lista de Usuarios</h5>
        <p class="card-text">Cree, edite, actualice y vea la información de los registros de la Universidad Nacional de Ingeniería </p>
        <a href="https://localhost:7189/Usuarios" class="btn btn-outline-primary">Usuarios</a>
    </div>
</div>
